.App {
  display: flex;
  flex-direction: column;
}

.App-wrapper {
  text-align: center;
  display: flex;
  margin: 0 auto;
  width: clamp(40%,80%,100%);
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.app_booking-form {
  flex: 1;
}

.App-room-dropdown {
  align-self: center;
}

.app_booking-calendar {
  flex: 2;
}